CHAR RCDATA "js_char.lua"
CONV RCDATA "js_conv.lua"
IP RCDATA "js_ip.lua"
MAIN RCDATA "main.lua"
UTILS001 RCDATA "php_utils.lua"
UTILS002 RCDATA "rb_utils.lua"
UTILS003 RCDATA "java_utils.lua"
HASEGAWA RCDATA "hasegawa.js"